@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(250, 124, 34, 0.423); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 178, 254, 0.573); 
  }
body{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 29, 24),rgb(0, 29, 24), rgb(0, 0, 0));
    height: 100vh;
    overflow: hidden;
}
.logo{
    display: block;
    margin:auto;
    width: 50px;
    height: 50px;
    padding: 20px 0 5px 0;
}
h3{
    margin: 1px auto -25px auto;
    color:rgb(255, 255, 255);
    text-align: center;
}
.container{
    /* background-image: url("/bgimg.jpg"); */
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(36, 55, 56),rgb(39, 58, 55), rgb(0, 0, 0));
    border: 3px solid rgb(0, 66, 58);
    border-radius: 10px;
    width: 50vw;
    max-width: 700px;
    min-width: 330px;
    margin: auto;
    height: 63vh;
    overflow:scroll;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 37px;
}
.topName{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 148, 104);
    background-color:rgb(1, 34, 28);
    margin:auto;
    transform: translate(0%,100%);
    border-radius: 10px 10px 0 0;
    width:50vw;
    max-width: 700px;
    min-width: 330px;
    height: 25px;
    text-align:center;
    font-size: 16px;
}
.message{
    font-size: small;
    width:fit-content;
    overflow-wrap: normal;
    margin: 5px;
    padding: 5px;
}
.left{
    border-radius: 15px 15px 15px 0;
    max-width: 40%;
    overflow-wrap:break-word;
    background-color: rgba(27, 178, 254, 0);
    border: 2px solid rgb(165, 30, 255);
    color: white;
    padding: 10px 20px 10px 10px;
    float: left;
    clear: both;
}
.right{
    border-radius: 15px 15px 0 15px;
    max-width: 40%;
    overflow-wrap:break-word;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(0, 197, 197);
    color: white;
    padding: 10px 10px 10px 20px;
    float: right;
    clear: both;
}
.centerJoined{
    background-color: rgba(0, 0, 0, 0.278);
    color: rgb(255, 255, 255);
    width:fit-content;
    height:auto;
    font-size:x-small;
    border-radius: 7px;
    margin: 5px auto;
    clear: both;
}
.centerLeft{
    background-color: rgba(0, 0, 0, 0.278);
    color: rgb(0, 0, 0);
    width:fit-content;
    height:10px;
    font-size:x-small;
    border-radius: 7px;
    padding: 5px;
    margin: 10px auto;
    clear: both;
}
#send-container{
    margin: auto;
    text-align: center;
    max-width: 700px;
}
.send{   
    height: 25px;
    position:absolute;
    top: 82vh;
    width: 50vw;
    max-width: 700px;
    min-width: 330px;
}
#messageInp{
    width: 84%;
    border: 2px solid rgb(1, 105, 74);
    border-radius: 15px 0px 0px 15px;
    height: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    padding-left: 10px;
}
.btn{
    background-color: rgb(0, 80, 69);
    border: 0px;
    font-weight:700;
    color:rgb(255, 255, 255);
    border-radius: 0 50% 50% 0;
    height: 31px;
    width: 33px;
}
.btn:hover{
    cursor: pointer;
    background-color:rgb(52, 143, 129);
}
.footer{
    color: ivory;
    display: block;
    text-align:center;
    margin-top: 8vh;
}